<!DOCTYPE html>
<html>
<head>
	<title>Rango</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
</head>

<body>
	<h1>Rango says..hello world!</h1>
	<h3> Showing old (first 5)Categories. </h3>
	{% if categories %}
	<ul>
		{% for category in categories %}
		<li><a href="/rango/category/{{ category.id }}">{{ category.name }}</a></li>
		{% endfor %}
	</ul>
	{% else %}
	<strong>There are no categories present.</strong>
	{% endif %}
	<h3> Click on a category to see the real version</h3>
	<a href="/rango/add_category/">Add a New Category</a><br />

</body>
</html>